<div class="row" id="shop-creation-container">
  <div class="valign-wrapper">
    <div class="valign col s12 m10 l8 pull-l2 pull-m1">
      <div class="row">
        <div class="col s8 offset-s2" id="shop-signup-container">
          <a href="/"><h3 class="center-align white-text" id="shop-signup-header">Get-My-Shop</h3></a>
          <div class="center-align">
            <h5 class="white-text">SIGN IN</h5>
          </div>
          <%= render partial: "login_form" %>
          <div class="divider teal darken-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
