<%= render partial: 'header' %>
<div class= "row-break"></div>
<div class="row container-trim">
  <div class="col s12 m12 l8 test-this">
    <div class="cart-products-list">
      
      <%= render partial: "cartproduct", collection: @cartproducts%>
      
      <div class="row">
        <a href="#" class="btn right gen-green-background">EMPTY CART</a>
      </div>
    </div>
  </div>

  <div class="col s12 m12 l4 test-this">
    <div class="border-wrap">
      <div class ="section-title"> 
        Payment Breakdown
      </div>
      <div>
        <div class="row sub-sections"> <span class="left">sub total </span><span class="right">₦20,000.00</span></div>
        <div class="row sub-sections"> <span class="left">discount </span><span class="right">₦0.00</span></div>
        <div class="row sub-sections"> <span class="left">shipping cost </span><span class="right">₦100.00</span></div>
        <div class="row sub-sections"> <span class="left">total amount </span><span class="right">₦21,100.00</span></div>
        <div class="row  section-button center">
          <div><button type="submit" class="btn gen-green-background"> Proceed to Checkout</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class= "row-break"></div>
<%= render partial: 'footer' %>