vendor/bundle
/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
!/log/.keep
/tmp
/.project
/.idea
/.README.rdoc
/rubo.html
/.ruby-version
/*.DS_store
/config/application.yml
/.byebug_history
/coverage
.gitmessage
.DS_Store
public/assets
