<div>
  <p>Hi, <%= "#{@user.first_name} #{@user.last_name}" %></p>
  <p>Your account has been successfully deactivated.</p>
  <p>Please Note that your account is recoverable within the next 7days, after which it will be permanently deleted</p>
</div>
