<div>
  <p>You have recently requested for a password reset</p>
  <p>Click on the following link to reset your password</p>
  <p><%= link_to passwordreset_users_url(@user.id, @user.reset_code), passwordreset_users_url(id: @user.id, reset_code: @user.reset_code) %></p>
  <p>If you did not do a password reset rquest, please click on cancel below</p>
</div>
