<div>
  <p>Your account has been created. Click on the following link to activate your account.</p>
  <p>Click on the following link to activate your account</p>
  <p><%= link_to activate_users_url(email: @user.email, code: @user.activation_token), activate_users_url(email: @user.email, code: @user.activation_token) %></p>
  <p>If you did not create this account, just click the below link to cancel the process.</p>
</div>