<div id="confirm-modal" class="modal">
  <div class="modal-content">
    <h4>Are you sure you want to delete this product?</h4>
    <p>Deleting this product will remove it from the store. Customers will no longer be able to access it.</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" onclick="deleteProduct()">Continue</a>
  </div>
</div>
