<div class="row dashboard-header">
  <div class="col s1" id="view-headline-cont">
    <nav class="white-text nav-wrapper-cont">
      <div class="nav-wrapper">
        <a href="#" class="center-align" id="hdline">
          <i class="material-icons">view_headline</i>
        </a>
      </div>
    </nav>
  </div>
  <div class="col s11 header-nav-cont">
    <nav class="white-text header-nav">
      <div class="nav-wrapper">
        <span class="dashboard-page-title">Dashboard</span>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <a href="#">
              <i class="material-icons">lock_outline</i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<div class="row">
  <div class="content-container">
    <div class="col s1 side-bar-cont">
      <nav class="teal white-text side-bar-nav">
        <div class="nav-wrapper">
          <a class="center-align">
            &nbsp;
          </a>
        </div>
      </nav>
      <div class="side-bar-menu-cont">
        <div class="center-align">
          <div class="side-bar-menu">
            <a href="#" class="side-bar-link"><i class="material-icons">dashboard</i>
            <div class="side-bar-menu-text center-align">Dashboard</div></a>
          </div>
          <div class="side-bar-menu">
            <a href="#" class="side-bar-link"><i class="material-icons">supervisor_account</i> <div class="side-bar-menu-text center-align">Customers</div></a>
          </div>
          <div class="side-bar-menu">
          <a href="#" class="side-bar-link"><i class="material-icons">turned_in_not</i><div class="side-bar-menu-text center-align">Products</div></a>
          </div>
          <div class="side-bar-menu">
          <a href="#" class="side-bar-link"><i class="material-icons">shop</i><div class="side-bar-menu-text center-align">Orders</div></a>
          </div>
          <div class="side-bar-menu">
          <a href="#" class="side-bar-link"><i class="material-icons">redeem</i><div class="side-bar-menu-text center-align">Coupon</div></a>
          </div>
          <div class="side-bar-menu">
          <a href="#" class="side-bar-link"><i class="material-icons">visibility</i><div class="side-bar-menu-text center-align">Preview</div></a>
          </div>
          <div class="side-bar-menu">
          <a href="#" class="side-bar-link"><i class="material-icons">settings</i><div class="side-bar-menu-text center-align">Settings</div></a>
          </div>
          <div class="" style="position: fixed; bottom: 0; background: white; padding: 10px 5px; width: 64px">
            <div class="center-align" style=""><i class="material-icons">live_help</i></div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-area col s10 offset-s1" style="">
      <%= yield %>
    </div>
  </div>
</div>
