<form class="col s12" id="shop-signup-form">
	<ul class="collapsible popout" data-collapsible="expandable">
		<li>
			<div class="collapsible-header active white-text teal"><i class="material-icons">filter_drama</i>Shop Information</div>
			<div class="collapsible-body">
				<div class="row">
					<div class="input-field col s10 offset-s1">
						<input id="shop_name" name="shop_name" type="text" class="validate" required>
						<label for="shop_name">Shop name</label>
					</div>
				</div>
				<div class="row">
					<div class="col s10 offset-s1">
						<div class="input-field col s5">
							<input id="shop-url-prefix" name="shop-url-prefix" value="www.getmyshop.com/" type="text" class="valdate" disabled>
						</div>
						<div class="input-field col s7" id="shop-url-wrapper">
							<input id="shop-url" name="shop-url" type="text" class="valdate" required>
							<label for="shop-url">Shop URL</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s10 offset-s1">
						<textarea id="description" name="description" class="materialize-textarea" required></textarea>
						<label for="description">Description</label>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<button onclick="openLocationTab()" class="waves-effect waves-light btn-flat teal white-text right">Next</button>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="collapsible-header white-text teal location-tab"><i class="material-icons">place</i>Shop Location</div>
			<div class="collapsible-body">
				<div class="row">
					<div class="input-field col s10 offset-s1">
						<input id="address" name="address" type="text" class="validate" required>
						<label for="address">Address</label>
					</div>
				</div>
				<div class="row">
					<div class="col s10 offset-s1">
						<div class="input-field col s6">
							<input id="city" name="city" type="text" class="validate" required>
							<label for="city">City</label>
						</div>
						<div class="input-field col s6">
							<input id="state" name="state" type="text" class="validate" required>
							<label for="state">State</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col s10 offset-s1">
						<div class="input-field col s6">
							<input id="country" name="country" type="text" class="validate" required>
							<label for="country">Country</label>
						</div>
						<div class="input-field col s6">
							<input id="phone" name="phone" type="text" class="validate" required>
							<label for="phone">Phone Number</label>
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
	<div class="row">
		<div class="input-field col s12 center-align">
			<button id="submit" type="submit" name="submit" class="waves-effect waves-light btn-flat teal white-text">Create Shop</button>
		</div>
	</div>
</form>