<% if flash[:notice] %>
  <script type="text/javascript">
    Materialize.toast("<%= flash[:notice] %>", 3000);
  </script>
<% end %>
<header>
  <div class="container">
    <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only">
      <i class="material-icons">menu</i>
    </a>
  </div>
  <ul id="nav-mobile" class="side-nav fixed">
    <li class="bold">
      <a href="about.html" class="waves-effect waves-teal">
        <i class="material-icons">dashboard</i>
      <span class="title">Dashboard</span>
      </a>
    </li>

    <li class="bold active">
      <a href="getting-started.html" class="waves-effect waves-teal">
        <i class="material-icons">folder</i>
        <span class="title">Products</span>
      </a>
    </li>

    <li class="bold">
      <a href="getting-started.html" class="waves-effect waves-teal">
        <i class="material-icons">insert_chart</i>
        <span class="title">Orders</span>
      </a>
    </li>

    <li class="bold">
      <a href="http://materializecss.com/mobile.html" class="waves-effect waves-teal">
        <i class="material-icons">play_arrow</i>
        <span class="title">Coupons</span>
      </a>
    </li>

    <li class="bold">
      <a href="http://materializecss.com/mobile.html" class="waves-effect waves-teal">
        <i class="material-icons">payment</i>
        <span class="title">Transactions</span>
      </a>
    </li>

    <li class="bold">
      <a href="showcase.html" class="waves-effect waves-teal">
        <i class="material-icons">supervisor_account</i>
        <span class="title">Customers</span>
      </a>
    </li>
    <li class="bold">
      <a href="<%= edit_shop_path(session[:user_id]) %>" class="waves-effect waves-teal">
        <i class="material-icons">mode_edit</i>
        <span class="title">Edit Shop Profile</span>
      </a>
    </li>
  </ul>
</header>
<main>
  <%= render partial: 'shop_owners_header' %>
  <%= render partial: 'shop_owners_footer' %>
</main>
