<%= render partial: 'shop_owners_header' %>
<div class="row">
  <div class="col s12 m4 l2"> 
    <ul class="collection">
      <li class="collection-item">
        <i class="material-icons">dashboard</i>
        <span class="title">Dashboard</span>
      </li>
      <li class="collection-item">
        <i class="material-icons">folder</i>
        <span class="title">Products</span>
        </p>
      </li>
      <li class="collection-item">
        <i class="material-icons">insert_chart</i>
        <span class="title">Orders</span>
      </li>
      <li class="collection-item">
        <i class="material-icons">play_arrow</i>
        <span class="title">Coupons</span>
      </li>
      <li class="collection-item">
        <i class="material-icons">payment</i>
        <span class="title">Transactions</span>
      </li>
      <li class="collection-item">
        <i class="material-icons">supervisor_account</i>
        <span class="title">Customers</span>
      </li>
      <li class="collection-item">
        <i class="material-icons">visibility</i>
        <span class="title">Preview</span>
      </li>
      <li class="collection-item">
        <i class="material-icons">settings</i>
        <span class="title">Settings</span>
      </li>
    </ul>
  </div>

  <div class="col s12 m8 l10"> 
    <div class="divider"></div>
    <div style="padding: 10px">
      <h5 style="display: inline !important">Add a product to see it in your store</h5>
      <a class="modal-trigger waves-effect waves-light btn-flat right-align" href="#modal1">Add Product</a>
    </div>
    <div class="divider"></div>
    
  </div>

</div>


<%= render partial: 'product_form' %>
<%= render partial: 'footer' %>