<div class="col s12 m6 l3">
  <%= link_to product_path(product) do %>
    <div class="card">
      <div class="card-image">
        <%= image_tag product.product_image_links.first.link_name %>
      </div>
      <div class="card-content center">
        <span><%= product.name %></span><br>
        <span class="price">&#x20A6;<%= product.price %></span>
      </div>
    </div>
  <% end %>
</div>


