<div class= "col s12 m6 l3">
	<a href="<%= product_path(Product.order("RANDOM()").first) %>">
		<div class="card home-card">
			<div class="card-image"><%= image_tag product[:image] %></div>
	  </div>
	  <div class="card-desc center">
      <span><%= product[:text] %></span><br /><span class="price"><%= product[:price] %></span>
    </div>
	</a>
</div>