<%= render partial: 'header' %>
<div class="container">
	<h1>About Us</h1>
	<p>
		<img src="<%= Faker::Avatar.image %>" align="left">
		<span><%= @text %></span>
	</p>
</div>
<%= render partial: 'footer' %>