<%= render "header" %>
<div class="row container">
<h2>Create Account</h2>
  <div class = "container col l8 signup">
    <form class="pipe">
      <div class="row entry">
        <div class="input-field">
          <!-- <i class="material-icons prefix">account_circle</i> -->
          <input id="first_icon" type="text" class="validate">
          <label for="first_icon">Firstname</label>
        </div>
      </div>
      <div class="row entry">
        <div class="input-field">
          <!-- <i class="material-icons prefix">account_circle</i> -->
          <input id="lastname_icon" type="text" class="validate">
          <label for="lastname_icon">Lastname</label>
        </div>
      </div>
      <div class="row entry">
        <div class="input-field">
          <!-- <i class="material-icons prefix">email</i> -->
          <input id="icon_email" type="email" class="validate">
          <label for="icon_email">Email</label>
        </div>
      </div>
      <div class="row entry">
        <div class="input-field">
          <!-- <i class="material-icons prefix">lock</i> -->
          <input id="icon_lock" type="password" class="validate">
          <label for="icon_lock">Password</label>
        </div>
      </div>
      <div class="row submit">
      <button class="btn waves-effect waves-light blue signup" type="submit" name="action">Create Account
      <!--  <i class="material-icons">send</i> -->
      </button>
      </div>
    </form>
    <p class="comments">Got an account? 
      <%= link_to "Sign In", user_signin_path %>
    </p>
  </div>
  <div class="container col l4">
    <div class="row signup">
      <p>Sign Up Using</p>
     <div class="row oauth">
      <div class="alter-height">
        <button class="btn waves-effect waves-light oauth red" type="submit" name="action"><i class="fa fa-google-plus"></i><span class='bar'>|</span><span class='fa-word'>Google</span>
        </button>
      </div>
    </div>
    <div class="row oauth">
      <button class="btn waves-effect waves-light facebook blue" type="submit" name="action"><i class="fa fa-facebook"></i><span class='bar'>|</span><span class='fa-word'>Facebook</span>
      </button>
    </div>
      <div class="row oauth">
        <button class="btn waves-effect waves-light twitter blue" type="submit" name="action"><i class="fa fa-twitter"></i><span class='bar'>|</span><span class='fa-word'>Twitter</span>
        </button>
      </div>
    </div>
  </div>
</div>
<%= render "footer" %>
