<%= render "header" %>
<div class="signin-box">
<div class="signin row container">
  <div class="describe"><h2>Sign In</h2></div>
  <div class = "container col l8 signin">
    <form class="pipe-signin">
      <div class="row entry">
        <div class="input-field">
          <input id="icon_email" type="email" class="validate">
          <label for="icon_email">Email</label>
        </div>
      </div>
      <div class="row entry">
        <div class="input-field">
          <input id="icon_lock" type="password" class="validate">
          <label for="icon_lock">Password</label>
        </div>
      </div>
      <div class="row submit signin">
      <button class="btn waves-effect waves-light blue" type="submit" name="action">Sign In
      </button>
      </div>
    </form>
    <div class="signin-para">
      <p class="forgot"><%= link_to "Forgot your password?", forgot_path %></p>
      <p class="comments">If you do not have an account, please
      <%= link_to "Sign Up", user_new_path %>
      </p>
    </div>
  </div>
  <div class="container col l4">
    <div class="row signin">
      <p>Sign In Using</p>
     <div class="row oauth">
      <div class="alter-height">
        <button class="btn waves-effect waves-light oauth red" type="submit" name="action"><i class="fa fa-google-plus"></i><span class='bar'>|</span><span class='fa-word'>Google</span>
        </button>
      </div>
    </div>
    <div class="row oauth">
      <button class="btn waves-effect waves-light facebook blue" type="submit" name="action"><i class="fa fa-facebook"></i><span class='bar'>|</span><span class='fa-word'>Facebook</span>
      </button>
    </div>
      <div class="row oauth">
        <button class="btn waves-effect waves-light twitter blue" type="submit" name="action"><i class="fa fa-twitter"></i><span class='bar'>|</span><span class='fa-word'>Twitter</span>
        </button>
      </div>
    </div>
  </div>
</div>
</div>
<%= render "footer" %>
