<p>With Paypal option, you need to have an account with Paypal or create one.</p>

<h6>Important:</h6>
<ul>
  <li>
    - Be sure you have funded your Paypal account with an amount at least equal to the sum of your total cost.
  </li>
  <li>
    - We only accept Nigerian Naira and local credit cards including
    MasterCard, VISA and Verve.
  </li>
  <li>
    - Be sure to know rules governing Paypal in your country
  </li>
</ul>

<div>
  <br>
  <%= button_to "Proceed to Paypal", post_payment_orders_path(type: "paypal"), class: "btn right #{@shop.color} white-text" %>
</div>
