<%= render partial: 'header' %>

<div class="container row">
  <div class="col l8">
  <span id="opener">open addresss form</span>
    <div id="new-address" class="modal">
        <div class="modal-content">
        <%= render partial: 'address_form' %>
        </div>
    </div>
  </div>
  <div class="col l4">
    <div>
      <% @user_addresses.each do |address| %>
      <div class="user-address row">
       <span><%= address.state %></span>
     </div>
     <% end %>
   </div>
 </div>
</div>
<%= render partial: 'footer' %>
