<%= render partial: 'header' %>

<div class="container">
  <div class="order-forms-container">
    <div class="center">
      <h4>Thank you!</h4>

      <p>Your order has been placed successfully. It will be delivered in 2 - 4
        days at your specified delivery address.</p>
    </div>
  </div>
</div>

<%= render partial: 'footer' %>
