<%= render "header" %>
<div id="full-order-page" class="full-order-page">
  <div class="row orders present center">
    <h4>Past Orders</h4>
  </div>
  <%= render "orders/cancel_order_toast" %>
  <%= order_page %>
</div>
<%= render "footer" %>
