<%= render partial: 'header' %>
<div class="row-break"></div>
<div class="row container-trim">
  <div class="col s12 m12 l12">
    <h5>CART</h5>
    <div class="check-products-list">
      <%= order_items_form_if_exist %>
    </div>
  </div>
</div>
<div class="row-break"></div>
<%= render "addresses/delete_address_toast" %>
<%= render partial: 'footer' %>
