<%= render "header" %>
<div class= "row-break"></div>
<div class="row container-trim">
  <div class="col s12 m12 l12">
    <div id="wish-products-list">
      <div id="wishlist-container">
      <h5 class="center">My Wishlist</h5>
        <div class="pad-small-bottom"></div>
        <%= wishlist_display %>
        <br />
      </div>
    </div>
  </div>
</div>
<%= render "footer" %>
