@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "materialize";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "landing";
@import "users";
$my-grey: #b2beb5;
$my-green: #338574;
$my-white: #ffffff;
$my-black: #000;

@import "landing";
@import "products";
