a {
  text-decoration: none;
}

.border-wrap {
  border: 3px solid $grey-border;
}

.section-title {
  border-bottom: 1px solid $bottom-border;
  color: $section-color;
  font-family: $section-font;
  font-weight: $section-title-size;
  margin: 0.3em;
  padding: 0.52em 0.65em;
}

.payment-options {
  width: 4em;
}

.section-image {
  margin: auto;
  padding: 0.65em;
}

.section-text {
  font-size: 0.6em;
  font-weight: $section-text-size;
  overflow: unset;
  padding: 0.65em;
  text-align: center;
  text-transform: uppercase;
}

.part-one {
  border-bottom: 1px dotted $bottom-border;
}

.sub-sections {
  border-bottom: 1px solid $bottom-border;
  color: $section-color;
  font-family: $section-font;
  font-size: 0.7em;
  font-weight: $section-title-size;
  padding-left: 1em;
  padding-right: 0.5em;
  text-transform: uppercase;
}

.section-button {
  font-size: 0.9em;
  font-weight: $section-button-size;
  text-transform: uppercase;
}

.main-button {
  background: $button-background;
  border: 1px solid $button-border;    // required or the default border for the browser will appear
  border-radius: 10px;
  box-shadow: 0 0 4px $shadow-color;
  color: $button-color;
  cursor: pointer;              // forces the cursor to change to a hand when the button is hovered
  font-size: 1.1em;
  padding: 5px 25px;            // add some padding to the inside of the button
}

.check-products-list {
  margin-top: 4em;
}

.product-box {
  padding: 1.5em 0 0;
}

.no-order-item {
  min-height: 15em;
}
