$ash-gray: #b2beb5;
$dark-gray: #626262;
$dark-cyan: #338574;
$black: #000000;
$light-gray: #e0e0e0;
$pale-orange: #fff4e1;
$search-box: #f5f5f5;

nav {
  border-radius: 3%;
  height: 5em;
}

.medium {
  background: url("http://i.imgur.com/CShEgXJ.jpg") no-repeat;
  background-size: cover;
  display: block;
  height: 45em;
  width: 100%;
}

.row-break {
  height: 4em;
  width: 100%;
}

.cat-heading::before,
.cat-heading::after {
  border-bottom: 1px solid $ash-gray;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  content: " ";
  display: block;
  height: 0;
  position: absolute;
  top: 50%;
  width: 40%;
}

.card-desc {
  > span {
    color: $black;
    font-size: 0.9em;
  }

  &.price {
    color: $dark-cyan;
  }
}

.home-card,
nav {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.cat-heading::after {
  left: auto;
  right: 0;
}

.cat-heading::before {
  left: 0;
  right: auto;
}

.cat-heading {
  font-size: 1.4em;
  margin: 2em auto;
  position: relative;
  text-align: center;
}

.card-center {
  border: 2px solid $black;
  margin: auto;
  width: 20%;
}

.border-bottom {
  border-bottom: 1px solid $light-gray;
  text-align: center;
}

.width-max {
  max-width: 100%;
}

.dark-cyan {
  background: $dark-cyan;
}

.dark-cyan-text {
  color: $dark-cyan !important;
}

.top-bar {
  background: $dark-cyan;
  height: 2.5em;
  width: 100%;

  a:hover {
    text-decoration: none;
  }
}

.top-contain {
  height: 7.5em;
  z-index: 10;
}

#top-fixed {
  border-bottom: 1px solid $my-grey;
  display: block;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.shadow-active {
  -moz-box-shadow: 0 0.1em 0.6em $dark-gray !important;
  -webkit-box-shadow: 0 0.1em 0.6em $dark-gray !important;
  box-shadow: 0 0.1em 0.6em $dark-gray !important;
}

.container-trim {
  margin: auto;
  width: 80%;
}

.container-trim-wide {
  margin: auto;
  width: 88%;
}

.container-large {
  margin: auto;
  width: 90%;
}

.mid-align {
  position: relative;
  top: -30%;
  transform: translateY(-50%);
}

.small-text {
  font-size: 0.8em;
}

.container-full {
  width: 100%;
}

.main-container {
  height: 80em;
}

.length-long {
  border: 1px solid $my-black;
  height: 38em;
}

.pre-footer {
  background: $pale-orange;
  height: 32em;
  margin-top: 6em;
}

.footer {
  background: $black;
  height: 13em;
}

.footer-container {
  margin: auto;
  width: 60%;
}

.category-span {
  display: inline-block;
  position: relative;
}

.category-span:hover {
  #category-dropdown {
    display: block;
  }
}

#category-dropdown {
  line-height: 3em;
  margin-left: -50%;
  max-height: 450px;
  min-height: 30px;
  overflow-y: auto;
  padding: 0 80px;
  padding-bottom: 1.4em;
  position: fixed;
  width: 100%;

  a:hover {
    background-color: $my-white;
  }

  li {
    display: block;
    text-align: center;
  }

  .contact-div {
    height: 35em;
  }
}

.cat.ul {
  li {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  img {
    display: block;
    margin: 0 auto;
    width: 200px;
  }
}

.col.l3.cat {
  display: block;
  width: 25%;
}

.display-products {

  width: 100%;

  a {
    color: $my-green;
    display: block;
    font-size: 12px;
    line-height: 2.6em;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: left;
    width: 100%;

    &:hover {
      background-color: $light-gray !important;
    }
  }

  .row {
    line-height: 1em;
    margin-bottom: 0;
    width: 100%;
  }
}

.contact-text {
  height: 10em;
}

.pad-top {
  padding-top: 2em;
}

.pad-bottom {
  padding-bottom: 2em;
}

.gen-green-background {
  background: $my-green;

  &:hover {
    background: lighten($my-green, 3);
  }
}

.brand-logo {
  position: relative !important;
}

.search-bar {
  border-bottom: 2px solid $dark-cyan;
  display: none;
  height: 3em;
  width: 100%;
}

#search-input {
  width: 80%;
}

.my-input {
  #my-input-field:focus {
    border-bottom: 0 solid;
    box-shadow: 0 0 0 0;
  }
}

.search-i {
  color: $black;
  cursor: pointer;
  font-size: 20px !important;
  font-weight: normal !important;
}

.search-icon-span {
  display: inline-block;
  position: relative;
}

.search-container {
  padding-right: 0 !important;
}

#my-input-field {
  font-size: 1em !important;
  padding-left: 0 !important;
}

.user-profile {
  display: none;
  position: absolute;
  right: 5em;
  top: 2.1em;
  width: 10em;
}

.full-profile {
  cursor: pointer;
}
