@import "variables";

#shop-creation-container {
  background-color: $primary-color-dark;
  background-size: 100%;
  font-size: 14px;
  margin-bottom: 0;
  position: relative;

  .valign-wrapper {
    min-height: 100vh;
    padding-bottom: 20px;
    padding-top: 50px;
  }
}

.bg-accent {
  background-color: $accent-color !important;
}

.text-accent {
  color: $accent-color;
}

.terms-link {
  border-bottom: 1px solid;
  color: $primary-color-light;
  line-height: 50px;
  padding-bottom: 3px;
}

#shop-creation-container::before {
  background-color: $shop-overlay-color;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

a > h3 {
  color: $shop-border-shadow;
}

#shop-signup-container {
  background-color: transparent;
  background-repeat: round;
  border-radius: 7px;
  padding: 10px;
  position: relative;
  z-index: 9999;

  h5 {
    opacity: 0.7;
  }
}

#shop-signup-form {
  border-radius: 5px;
  padding: 20px;
}

.collapsible-header {
  text-transform: uppercase;
}

#shop-url-prefix[disabled] {
  border-bottom: unset;
}

.orange {
  background-color: $shop-orange-color !important;
}

.shop-error {
  font-size: 12px;
}

.dashboard-header {
  box-shadow: 0 0 5px $primary-text-color;
  font-family: $shop-signup-font;
  height: 64px;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;

  .col {
    padding: unset;
  }

  #view-headline-cont {
    width: 5%;
  }
}

.col.s11.header-nav-cont {
  width: 95%;
}

.nav-wrapper-cont {
  background-color: $primary-color;
  border-radius: unset;
  height: 64px;
}

#hdline {
  color: $primary-color-text;
}

.header-nav {
  background-color: $primary-color;
  border-radius: unset;
  height: unset;

  .nav-wrapper {
    color: $primary-color-text;
    padding: 0 10px;
  }
}

.content-container {
  min-height: 100%;
  padding: unset;

  .col.s1 {
    padding: unset;
    width: 5%;
  }
}

.content-area {
  height: 100%;
  margin-top: 70px;
}

.side-bar-cont {
  position: fixed;
}

.side-bar-nav {
  border-radius: unset;
  height: unset;
}

.side-bar-menu-cont {
  background-color: $primary-color;
  box-shadow: 0 2px 5px $gray-180;
  min-height: 100vh;
}

.side-bar-menu {
  padding: 10px 5px;
}

.side-bar-link {
  color: $secondary-text-color;
  font-size: 11px;
  font-weight: 100;
  text-transform: uppercase;

  .side-bar-menu-text {
    display: none;
  }
}

.edit-form-container {
  background-color: $primary-color-text;
  padding: 10px 0;
}

#shop-edit-form {
  box-shadow: 0 0 5px $gray-180;
  padding: 60px 10px;
}

.edit-form-heading {
  color: $primary-color;
  font-weight: 200;
  text-transform: uppercase;
}

.dashboard-page-title {
  color: $primary-color-text;
  font-weight: 200;
  text-transform: uppercase;
}

.live-help-cont {
  background: $primary-color-text;
  bottom: 0;
  padding: 10px 5px;
  position: fixed;
  width: 64px;
}

.products-column {
  width: 50em !important;
}

.getting-started-cont {
  padding: 10px 5px;

  i {
    font-size: 2.28rem;
    padding-top: 18px;
  }
}

.welcome-note-cont {
  font-size: 20px;
  font-weight: 300;
  padding: 10px;
}

.steps {
  p {
    background: $primary-color-dark;
    border-radius: 50%;
    color: $primary-color-text;
    font-size: 18px;
    height: 60px;
    padding: 17px;
    text-align: center;
    width: 60px;
  }
}

.steps-description {
  padding: 25px;
}

.btm-divider {
  border-bottom: 1px solid $divider-color;
}

.steps-title {
  a {
    color: $primary-color-dark;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
}

.steps-detail {
  a {
    color: $secondary-text-color;
  }

  a:hover {
    text-decoration: underline;
  }
}
