$my-grey: #b2beb5;
$my-green: #338574;
$my-white: #ffffff;
$my-black: #000;
$light-gray: #f5f5f5;
$grey-border: #efefef;
$bottom-border: #e8e8e8;
$section-color: #333;
$section-title-size: 600;
$section-text-size: 400;
$section-button-size: 500;
$button-background: #338574;
$button-border: #33842a;
$button-color: #f3f3f3;
$section-font: 'ProximaNova', sans-serif, Arial;
$shadow-color: rgba(0, 0, 0, 0.75);
$facebook-blue: #3b5998;
$twitter-blue: #4099ff;
$instagram-red: #3f729b;
$pinterest-red: #c92228;
$pure-red: #ff0000;
$disabled-shade: #dddddd;
$faint-grey: #999999;
$dark-blue: #000033;
$ash-gray: #b2beb5;
$dark-gray: #626262;
$dark-cyan: #338574;
$black: #000000;
$light-gray: #e0e0e0;
$pale-orange: #fff4e1;
$dove-gray: #666666;
$c-gray: #cccccc;
