$primary-color-dark:   #00796b;
$primary-color:        #009688;
$primary-color-light:  #b2dfdb;
$primary-color-text:   #ffffff;
$accent-color:         #ffc107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #b6b6b6;

$my-grey: #b2beb5;
$my-green: #338574;
$my-white: #ffffff;
$my-black: #000;
$light-gray: #f5f5f5;
$grey-border: #efefef;
$bottom-border: #e8e8e8;
$section-color: #333;
$section-title-size: 600;
$section-text-size: 400;
$section-button-size: 500;
$button-background: #338574;
$button-border: #33842a;
$button-color: #f3f3f3;
$section-font: 'ProximaNova', sans-serif, Arial;
$rating-label:"Roboto", sans-serif;
$shadow-color: rgba(0, 0, 0, 0.75);
$facebook-blue: #3b5998;
$facebook-deep-blue:#4c67a1;
$twitter-blue: #4099ff;
$instagram-red: #3f729b;
$pinterest-red: #c92228;
$disabled-shade: #dddddd;
$faint-grey: #999999;
$dark-blue: #000033;
$ash-gray: #b2beb5;
$dark-gray: #626262;
$dark-cyan: #338574;
$black: #000000;
$light-gray: #e0e0e0;
$pale-orange: #fff4e1;
$dove-gray: #666666;
$deep-blue: #1c376d;
$c-gray: #cccccc;
$bg-grey: #ebebeb;
$grey-notice: #212121;
$search-form-font: "PT Sans", sans-serif;
$very-pale-gray: #f4f4f4;
$dark-gray: #bcbcbc;
$gold: #eeaa00;
$grey-label: #9e9e9e;
$twitter-blue: #00aced;
$deep-twitter-blue: #00a8e6;
$light-grey: #fafafa;
$light-red: #f44336;
$disabled-grey: #dfdfdf;
$disabled-text: #9f9f9f;
$shop-orange-color: rgba(211, 109, 24, 1);
$shop-container-color: rgba(255, 255, 255, 0.95);
$shop-overlay-color: rgba(0, 0, 0, 0.3);
$shop-signup-font: Assistant;
$shop-border-shadow: rgba(0, 0, 0, 0.5);
$gray-180: rgb(180, 180, 180);
