.wish-products-list {
  height: 50em;
}

.border-wrap-grey-small {
  border-bottom: 1px solid $grey-border;
}

.bigger-font {
  font-size: 1.05em;
}

#wishlist-container {
  min-height: 25em;
}

.pad-round {
  padding: 0.5em;
}

.pad-small-bottom {
  margin-bottom: 2em;
}
