<div class="row">
  <div class="digg-pagination right"><%= will_paginate @products %></div>
</div>
<div class= "category-products">
  <%= render partial: "landing/product", collection: @products %>
</div>
<div class="row">
  <div class="digg-pagination right"><%= will_paginate @products %></div>
</div>