<div id="cart-dropdown" class="nav-link-items">
  <div class="cart-dropdown-head">
    <div class="row">
      <div class="col l7">Product</div>
      <div class="col l1">Qty</div>
      <div class="col l3">Price</div>
      <div class="col l1">&#8358;</div>
    </div>
  </div>
  <div class="cart-dropdown-body">
    <div class="row bold">
      <div class="row" id="updated_product">
      
      </div>
    </div>

    <div class="row bold">
      <div class="col l8"><span class="right">Total</span></div>
      <div class="col l4"><span class="right" id="total_price"></span></div>
    </div>
  </div>
  <div class="cart-dropdown-footer">
    <div class="row">
      <div class="col l12">
        <%= link_to "Proceed to Cart", "/cart", class: 'btn right gen-green-background' %>
      </div>
    </div>
  </div>
</div>
