<div class="footer valign-wrapper">
	<div class="footer-container">
		<div class="footer-links">
			<div class="white-text">
				<span>GetMyShop</span><br>
				<span class="small-text"><%= link_to "About Us", about_path, class: 'grey-text' %></span><br>
				<span class="small-text"><%= link_to "FAQ", faq_path, class: 'grey-text' %></span><br>
				<span class="small-text"><%= link_to "Blog", blog_path, class: 'grey-text' %></span><br>
				<span class="small-text"><%= link_to "Contact Us", "/contact", class: 'grey-text' %></span><br>
			</div>
			
			<div class="white-text">
				<span>Support</span><br>
				<span class="grey-text small-text"><i class="tiny material-icons">phone</i>&nbsp;08020000000</span><br />
				<span class="grey-text small-text"><i class="tiny material-icons">email</i>&nbsp;support@shopify.com</span><br />
			</div>
			
			<div class="white-text">
				<span>Social</span><br>
				<span><i class="grey-text fa fa-facebook-official" aria-hidden="true"></i></span>&nbsp;
				<span><i class="grey-text fa fa-twitter-square" aria-hidden="true"></i></span>&nbsp;
				<span><i class="grey-text fa fa-instagram" aria-hidden="true"></i></span>
			</div>
		</div>
	</div>
</div>
