<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
    © 2016 Copyright Shopify
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>