<table class="bordered">
  <thead>
    <tr>
      <th>Key Features</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Category</td>
      <td><%= @product.category.name %></td>
    </tr>
    <tr>
      <td>Subcategory</td>
      <td><%= @product.subcategory.name %></td>
    </tr>
    <tr>
      <td>Brand</td>
      <td><%= @product.brand %></td>
    </tr>
    <tr>
    <% if @product.size %>
      <td>Size</td>
      <td>
        <select name="size">
        <% @product.size_values.each do |value| %>
          <option><%= value %></option>
        <% end %>
        </select>
      </td>
    <% end %>
    </tr>
  </tbody>
</table>