<table class="bordered">
  <thead>
    <tr>
      <th>Key Features</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Category</td>
      <td>Men's Shirts</td>
    </tr>
    <tr>
      <td>Brand</td>
      <td>Firetrap</td>
    </tr>
    <tr>
    <tr>
      <td>Material</td>
      <td>Denim</td>
    </tr>
    <tr>
      <td>Colour</td>
      <td>
        <select name="colour">
          <option>Dark Blue</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Size</td>
      <td>
        <select name="size">
          <option>Small</option>
          <option>Medium</option>
          <option>Large</option>
          <option>X-Large</option>
          <option>XX-Large</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>