<ul class="collection">
  <% @reviews.each do |review| %>
    <li class="collection-item avatar">
      <div class="row">
        <div class="col m10">
          <i class="material-icons circle blue">perm_identity</i>
          <span class="title"><%= review.user.first_name %></span>
          <p>
            <%= review.comment %>
          </p>
        </div>
        <div class="col m2">
          <a href="#!" class="secondary-content">
            <% review.rating.times do %>
              <span class="filled-in-star">&#9734;</span>
            <% end %>
            <% (5 - review.rating).times do %>
              <span>&#9734;</span>
            <% end %>
          </a>
        </div>
      </div>
    </li>
  <% end %>
</ul>